<p id="notice"><%= notice %></p>

<p>
  <strong>Chit response:</strong>
  <%= @chatter.chit_response %>
</p>

<%= link_to 'Edit', edit_chatter_path(@chatter) %> |
<%= link_to 'Back', chatters_path %>
