HTML doctype

<p>
	Chitt is a class assignment attempting to utilize various concepts learned during my TTS Immersion Program. We were instructed to develop an app similar to Twitter. The user should be able to post statuses (Chittles) and comments (Chatters). Chitt and respective items were my attempt at creatively naming resources. Please bear with me. 

	<br></br>
	Languages
	<br></br>
	Ruby on Rails | HTML | CSS | Bootstrap | Devise | Faker | PostgreSQL | Heroku | Git 
	<br></br>

	@TammyLLC

</p>