HTML doctype

<p>
	Chitt is a class assignment attempting to utilize various concepts learned during my TTS Immersion Program. 
	<br></br>
	Ruby on Rails | HTML | CSS | Bootstrap | Devise | Faker | Heroku | Git 

</p>